.footer{
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    border: 1px solid;
    height: 3%;
    background-color: #0000008e;
    margin-right: -5px;
    margin-left: -8px;
    margin-bottom: -8px;
}
.footer p{
    font-family: monospace;
    font-size: 90%;
}
.heart{
    color: #00fff2;
}